@charset "utf-8";

html{font-family:"Microsoft YaHei UI","Microsoft YaHei",sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

html,body,p,object,iframe,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,address,dl,dt,dd,ol,ul,li,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,progress{margin:0;padding:0;border:0;vertical-align:baseline}

li{list-style:none}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

audio,canvas,progress,video{display:inline-block}

audio:not([controls]){display:none;height:0}

[hidden],template{display:none}

a{background-color:transparent;text-decoration:none}

a:active,a:hover{outline:0}

abbr[title]{border-bottom:1px dotted}

b,strong{font-weight:bold}
i{
    font-style:normal
}

dfn{font-style:italic}

h1{font-size:2em;margin:.67em 0}

mark{background:#ff0;color:#000}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sup{top:-0.5em}

sub{bottom:-0.25em}

img{border:0}

svg:not(:root){overflow:hidden}

figure{margin:1em 40px}

hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}

pre{overflow:auto}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;outline:none;line-height:normal}

button{overflow:visible;
    border:none;}

button,select{text-transform:none}

button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}

button[disabled],html input[disabled]{cursor:default}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;outline: none;}

input{line-height:normal;border:none  }

input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}

input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}



input[type="number"] {
    -moz-appearance: textfield;
}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}


body{
    font-family: "Microsoft YaHei", Arial, "Helvetica", "微软雅黑";
}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}

legend{border:0;padding:0}

textarea{overflow:auto}

optgroup{font-weight:bold}

table{border-collapse:collapse;border-spacing:0}

td,th{padding:0}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    display:inline-block;
}

.clearfix{
    display:block;
}
.clear{
    clear:both;
    height:0;
    font:0/0 Arial;
    visibility:hidden;
}
.hide{
    visibility:hidden;
}
.hidden{
    display: none;
}

.text2em{
    text-indent:2em;
}

.fl{
    float: left;
}

.fr{
    float: right;
}



/*alert*/

.alert-modal{
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.alert-container{
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    background: #fff;
    border:1px solid #f1f1f1;
    z-index: 99999;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.alert-title{
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    color:#111;
    background: #fff;
    position: absolute;
    left:0;
    top:0;
    z-index: 999;
    width:100%;
    text-align: center;
}
.alert-content{
    font-size: 14px;
    padding:15px 20px;
    color:#555;
    height:100%;
    overflow: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.alert-content-scrollbar{

}
.alert-btn-box{
    border-top:1px solid #f1f1f1;
    text-align: right;
    position: absolute;
    left:0;
    background: #fff;
    bottom: 0;
    z-index: 999;
    width:100%;
    font-size: 12px;
}
.alert-btn-p{
    display: inline-block;
    text-align: center;
    border-right:1px solid #f1f1f1;
    font-size:14px;
    line-height: 35px;
    cursor: pointer;
    color:#222;
    box-sizing: border-box;
}
.alert-btn-p:hover{
    background: #eee;
}
.alert-btn-p:last-child{
    border-right: none;
}
.pcAlert .alert-btn-box{
    padding-right:10px;
    border:none;
}
.pcAlert .alert-btn-p{
    border:1px solid #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    line-height: 30px;
    margin:7px 0;
    padding:0 10px;
    margin-right:10px;
}
.alert-btn-close{
    position: absolute;
    right:10px;
    top:3px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}
.alert-container-black{
    background-color:rgba(0,0,0,0.65);
    border:none;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);
}
.alert-container-black .alert-content{
    color: #fff;
}
.linearTop{
    -webkit-animation-name: linearTop;
    -moz-animation-name: linearTop;
    -o-animation-name: linearTop;
    animation-name: linearTop;
}
.linearBottom{
    -webkit-animation-name: linearBottom;
    -moz-animation-name: linearBottom;
    -o-animation-name: linearBottom;
    animation-name: linearBottom;
}
@keyframes linearBottom {
    0%{
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
        filter:alpha(opacity=100);
    }
    100%{
        -webkit-transform: translate3d(0,80px,0);
        -moz-transform: translate3d(0,80px,0);
        -o-transform: translate3d(0,80px,0);
        transform: translate3d(0,80px,0);
        opacity: 0;
        filter:alpha(opacity=0);
    }
}
@keyframes linearTop {
    0%{
        -webkit-transform: translate3d(0,80px,0);
        -moz-transform: translate3d(0,80px,0);
        -o-transform: translate3d(0,80px,0);
        transform: translate3d(0,80px,0);
        opacity: 0;
        filter:alpha(opacity=0);
    }
    100%{
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        opacity: 1;
        filter:alpha(opacity=100);
    }
}
/*显示动画*/
.animated.infinite {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}
.animated.linearBottom,
.animated.linearTop,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .45s;
    -moz-animation-duration: .45s;
    -o-animation-duration: .45s;
    animation-duration: .45s;
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -moz-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -o-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        filter:alpha(opacity=0);
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        -o-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }


    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}
@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        -moz-transform: scale3d(1.2, 1.2, 1.2);
        -o-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2);
    }

    65%, 70% {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale3d(.75, .75, .75);
        -moz-transform: scale3d(.75, .75, .75);
        -o-transform: scale3d(.75, .75, .75);
        transform: scale3d(.75, .75, .75);
    }

    100% {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: scale3d(.3, .3, .3);
        -moz-transform: scale3d(.3, .3, .3);
        -o-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}
.bounceOut {
    -webkit-animation-name: bounceOut;
    -moz-animation-name: bounceOut;
    -o-animation-name: bounceOut;
    animation-name: bounceOut;
}
/*page*/

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager li > a,
.pager .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}
.pager li > a:focus,
.pager .pager li > a:hover {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a,
.pager .pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .pager .disabled > a:focus,
.pager .pager .disabled > a:hover,
.pager .pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}
.pageJump {
    display: inline-block;
    padding-left: 0;
    margin: 20px 10px;
    border-radius: 4px;
    vertical-align: top;
}
.pageJump .button,
.pageJump .pageJump input {
    font-size: 16px;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dddddd;
}
.pageJump input {
    width: 20px;
}
.pageJump-lg .button,
.pageJump-lg input {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.pageJump-sm .button,
.pageJump-sm input {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
